.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidenav button {
  width: 100%;
  text-align: left;
  font-weight: bold;
  justify-content: flex-start;
}


.mat-icon-button {
  margin: 16px;
}

.spacer {
  flex: 1 1 auto;
  
}


