<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="customer-avatar">
            <img class="card-image" card src="assets/Helena.jfif" alt="customer image">    
        </div>
        <mat-card-title> Helena Williams </mat-card-title>
        <mat-card-subtitle>williams.x.com</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="card-content">
        <img class="card-image" card src="assets/Helena.jfif" alt="customer image">
        <p>Miss helena is a Web developer.</p>
    </div>
    </mat-card-content>
    
    <mat-card-actions >
     <button mat-raised-button color="primary">like</button>
     <button mat-raised-button class="primary">delete</button>
     <div class="flex-spacer"></div>
     <button mat-button-icon><mat-icon>share</mat-icon></button>
        </mat-card-actions>

</mat-card>

